/* #components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
} */

/* .ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
} */

.site-layout-background {
  background: #f0f2f5;
}

.nav-name {
  color: white;
}

.nav-header {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .nav-header {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.responsive-table {
  overflow: auto;
}

.ant-table {
  display: block;
  @media screen and (max-width: 600px) {
    &-thead {
      display: none;
    }

    &-thead > tr,
    &-tbody > tr {
      th,
      td {
        &:first-of-type {
          padding-top: 1rem;
        }

        &:last-of-type {
          padding-bottom: 1rem;
        }
      }

      > th,
      > td {
        display: block;
        width: auto !important;
        border: none;
        padding: 0 1rem;
        font-size: 1.1rem;

        &:last-child {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}

.ant-table-content {
  overflow: auto;
}

.ant-table-cell {
  white-space: nowrap;
}

.table-body {
  white-space: nowrap;
}
