.home-section-title {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 1em;
}

.home-section-main-title {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 3vh;
  color: #1f8cf3;
  font-family: "Oswald";
}

.home-section-description {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 4.5vh;
  color: #001529bf;
}
