.site-layout-content {
  min-height: 280px;
  padding: 24px;
}

.logo {
  width: 100%;
  max-width: 50px;
  height: auto;
}

.footer {
  background-color: #001529 !important;
  color: white !important;
  margin-top: 2em;
}

.quick-link-title {
  color: white !important;
}

.quick-link span {
  opacity: 0.7;
}
